/* .header {
    background-color: seagreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 20px 40px;
}

.btn {
    background-color: rgb(64, 64, 235);
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 20px;
} */